.about {
  margin: 4rem 0 6rem 0;
}

.why-concert-party {
  padding-right: 2rem;
  margin-bottom: 2rem;
}

.find-us {
  .location {
    margin-top: 1rem;
    ul {
      padding-inline-start: 1rem;
      li {
        list-style: none;
        line-height: 2rem;
      }
    }
  }
  .phone {
    margin-top: 1rem;
    ul {
      padding-inline-start: 1rem;
      li {
        list-style: none;
        line-height: 2rem;
      }
    }
  }
  .socials {
    margin-top: 2rem;
    ul {
      padding-inline-start: 1rem;
      li {
        list-style: none;
        line-height: 2rem;
        a {
          text-decoration: none;
          color: #222529;
          &:hover {
            color: lighten(purple, 10%);
          }
        }
      }
    }
  }
}
