.about {
  margin: 4rem 0 6rem 0;
}

.why-concert-party {
  padding-right: 2rem;
  margin-bottom: 2rem;
}

.find-us {
  .socials {
    ul {
      padding-inline-start: 1rem;
      li {
        line-height: 2rem;
        list-style: none;
        a {
          text-decoration: none;
        }
      }
    }
  }
}
