.main-navbar {
  background-color: white !important;
  border-bottom: 1px solid #eee;

  .navbar-nav .nav-link {
    color: #333;

    &:hover {
      color: lighten(purple, 10%);
    }
    &:active {
      color: purple;
    }
  }

  .logo-concert {
    color: lighten(purple, 10%);
    font-size: 2rem;
  }
  .logo-party {
    color: purple;
    font-size: 2rem;
  }
}
